@import "../../../global.scss";


.portfolioList {
    font-size: 18px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    color: #7c7c7c;
    @include mobile{
        margin-right:5px;
    }
    cursor: pointer;
    &.active {
        background-color: $backgroundColor;
        color: $textColor;
        border: 1px solid $textColor;
    }
}