@import "../../../global.scss";

@keyframes Textanimated {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
  }

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.intro-box {
    color: #e1e1e1;
    margin-left: 20%;

    h1 {
        font-size: 150px;
        margin : 0;
        display: inline-block;
        text-transform: uppercase;
    }
    #intro-1 {
        background-image: linear-gradient(to right, #e1e1e1, #e1e1e1 , black, #e1e1e1, #e1e1e1);
        -webkit-background-clip: text;
        color: transparent;
        background-size: 400%;
        background-position: -200%;
        animation: Textanimated 5s infinite reverse ease;
    }

    #intro-2 {
        background-image: linear-gradient(to right, #e1e1e1, #e1e1e1, black , #e1e1e1, #e1e1e1);
        -webkit-background-clip: text;
        color: transparent;
        background-size: 500%;
        background-position: -200%;
        animation: Textanimated 5s infinite reverse ease;
    }
    #intro-3{
        background-image: linear-gradient(to right, #e1e1e1, #e1e1e1, #ffd400, #e1e1e1, #e1e1e1);
        -webkit-background-clip: text;
        color: transparent;
        background-size: 550%;
        background-position: -200%;
        animation: Textanimated 5s infinite reverse  ease;
    }
    .intro-icon {
        position: absolute;
        right: 50%;
        bottom: 10%;
        animation: blink 3s ease infinite;
    }
}