@import "../../../global.scss";

@keyframes Textanimated {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
  }

@keyframes blink {
    50% {
        opacity: 0.8;
    }
}

.intro-box {
    color: #e1e1e1;
    position: relative;
    .intro-text-box {
        padding-left: 15%;
        margin-top: 60px;
    }
    h1 {
        font-size: 150px;
        margin : 0;
        display: inline-block;
        text-transform: uppercase;
        font-family: 'Raleway';
    }
    #intro-1 {
        background-image: linear-gradient(to right, #e1e1e1, #e1e1e1 , black, #e1e1e1, #e1e1e1);
        -webkit-background-clip: text;
        color: transparent;
        background-size: 400%;
        background-position: -200%;
        animation: Textanimated 5s infinite reverse ease;
    }

    #intro-2 {
        background-image: linear-gradient(to right, #e1e1e1, #e1e1e1, black , #e1e1e1, #e1e1e1);
        -webkit-background-clip: text;
        color: transparent;
        background-size: 500%;
        background-position: -200%;
        animation: Textanimated 5s infinite reverse ease;
    }
    #intro-3{
        background-image: linear-gradient(to right, #e1e1e1, #e1e1e1, black, #e1e1e1, #e1e1e1);
        -webkit-background-clip: text;
        color: transparent;
        background-size: 350%;
        background-position: -200%;
        animation: Textanimated 5s infinite reverse  ease;
    }
    .intro-icon {
        width: 100%;
        margin-top: 80px;
        text-align: center;
        animation: blink 2s infinite ease;
        p {
            margin: 0;
        }
    }
    .intro-text-attch {
        -webkit-background-clip: text;
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
        color: transparent;
        position: absolute;
        transform: rotate(10deg);
        height: 120px;
        width: 380px;
        font-family: 'Libre Baskerville', serif;
        bottom: 390px;
        right: 350px;
    }
}