@import "../../../global.scss";

@keyframes tutsFade {
    from {
        bottom: 0px;
    }
    75% {
        bottom: 50px;
    }
    100% {
        bottom : 40px;
    }
  }

.hamburger {
    padding : 8px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    @include mobile {
        position: relative;
        width: 26px;
        height: 180px;
        padding: 0;
    }

    .hamburger-icon {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
        @include mobile {
            width: 20px;
            height: 17px;
        }

        span {
            width: 100%;
            height: 3px;
            background-color: #EAEAEA;
            transform-origin: left;
            transition: all 0.5s ease;
        }
    }
    
    .hamburger-list {
        visibility: hidden;
        display: flex;
        position: absolute;
        right: 16px;
        @include mobile {
            right: 0;
        }
        a {
            text-decoration: none;
            padding: 10px 0px;
            @include mobile {
                padding: 0;
            }
        }
    }
    .hamburgerlist-icon:hover {
        color: #286086;
    }


    &.active {
        color: white;
        
        .hamburger-icon {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(44deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-44deg);
                }
            }
        }
        .hamburger-list{
            animation: tutsFade 0.3s 0s ease-in both;
            flex-direction: column;
            visibility: visible;
            @include mobile {
                animation: none;
                bottom: 20px;
            }
            a {
                color: white;
                @include mobile {
                    padding-bottom: 3px;
                }
            }
        }
        .hamburger-list-icon {
            @include mobile {
                font-size: 10px;
            }
        }
    }
}

