@import "../../../global.scss";

@keyframes tutsFade {
    from {
        bottom: 0px;
    }

    75% {
        bottom: 50px;
    }

    100% {
        bottom : 40px;
    }
  }

.hamburger {
    padding : 8px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    .hamburger-icon {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
        span {
            width: 100%;
            height: 3px;
            background-color: #EAEAEA;
            transform-origin: left;
            transition: all 0.5s ease;
        }
    }
    
    .hamburger-list {
        visibility: hidden;
        display: flex;
        position: absolute;
        right: 16px;
        a {
            text-decoration: none;
            padding: 10px 0px;
        }
    }
    .hamburgerlist-icon:hover {
        color: #286086;
    }


    &.active {
        color: white;
        border-radius: 10px;
        border-radius: 15px;
        
        .hamburger-icon {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(44deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-44deg);
                }
            }
        }
        .hamburger-list{
            animation: tutsFade 0.3s 0s ease-in both;
            flex-direction: column;
            visibility: visible;
            a {
                color: white;
            }
        }
    }
}

