.main_box {
    text-align: center;
    width: 100%;
    float: left;
}

.main-img {
    min-width: 100%;
    height: 850px;
}
.main_profile {
    margin-top: 10%;
    padding:33%;
}

.main_contents {
    padding-top: 7%;
}