.main_box {
    margin-top: 55px;
    text-align: center;
    min-width: 1190px;
    float: left;
    justify-items: center;
    margin: 50px 15%;
}
.main_profile {
    float: left;
    width: 27%;
    margin-top: 10%;
    margin-left: 5%;
    padding: 0px 40px;
}

.main_contents {
    float: left;
    width: 50%;
    padding-top: 7%;
    margin-left: 5%;
}