.main_box {
    margin-top: 15px;
    float: left;
    width: 100%;
    padding-left: 10%;
}
.main_profile {
    float: left;
    width: 20%;
    padding-left: 10%;
    padding-top: 8%;
}

.main_contents {
    float: left;
    width: 50%;
    padding-top: 7%;
    margin-left: 35px;
}