@import "../../../global.scss";


.works-box {
    background-color: $subColor;
    padding: 2% 8%;
    position: relative;
    .works-box-img-left{
        position: absolute;
        height: 150px;
        transform: rotate(90deg);
        top: 100px;
        right: -550px;
    }
    .works-box-img-right{
        position: absolute;
        height: 150px;
        transform: rotate(-90deg);
        top: 100px;
        left: -550px;
    }
    .works-typing {
        text-align: center;
    }
    .works-container {
        height: 100%;
        padding: 0px 18%;
        background-color: white;
        border-radius: 30px;
        .works-info-container {
            margin-top: 30px;
        }
        .works-flex-container {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
    }
}



