@import "../../../global.scss";

.typing-box {
    font-size: 64px;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    span {
        color: rgb(213, 216, 35);
    }
}

.ityped-cursor {
    font-size: 64px;
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 1s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}