.badgeList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.badge {
    width: 20px;
    height: 30px !important;
    border-radius: 5px;
}

