@import "../../global.scss";

.front-app {
    height: 100vh;
    position: relative;

    .sections {
        
        width: 100%;       
        height: 100%;
        background-color: $subColor;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        &::-webkit-scrollbar { 
            display: none; //chrome
        }

        > * {
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
        }
    }

    .rigth-bottom {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
}



