@import "../../../global.scss";
@font-face {
    font-family: "Hahmlet-SemiBold";
    src: url("../../fonts/Hahmlet-SemiBold.ttf");
}



.profile-container {
    text-align: center;
    position: relative;
    .profile-img {
        width: 208px;
        height: 208px;
        border-radius: 50%;
    }
    .hover-container {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 208px;
        border-radius: 50%;
        background-color: $backgroundColor;
        opacity: 0;
    }
}

.profile-container:hover {
    .hover-container{
        opacity: 1;
        .hover-text {
            margin: 20px;
            transition: all 0.5s ease;
            color: $textColor;
        }
    }
}


