@font-face {
    font-family: "Hahmlet-SemiBold";
    src: url("../../fonts/Hahmlet-SemiBold.ttf");
}

.profile-container {
    text-align: center;
    margin-top: 50px;
    .profile-img {
        width: 208px;
        height: 208px;
        border-radius: 50%;
    }
}

